<html>
  <head>
    <title>IdeaBox</title>
  </head>
  <body>
    <h1>IdeaBox</h1>
    <form action='/' method='POST'>
      <p>
        Your Idea:
      </p>
      <input type='text' name='idea_title'/><br/>
      <textarea name='idea_description'></textarea><br/>
      <input type='submit'/>
    </form>
    <h2>Existing idea</h2>
   <ul>
      <% ideas.each do |idea|%>
        <li><%= idea.title %></li>
        <li><%= idea.description %></li>
      <% end %>
    </ul>
  </body>
</html>