<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>IdeaBox</title>
</head>
<body>
  <h2>Namaste !! Welcom Nepal</h2>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, iusto id, possimus rerum veniam obcaecati aliquid molestiae quisquam fugiat quasi sunt, eligendi accusantium porro voluptatum molestias repudiandae reprehenderit quod! Architecto?
</body>
</html>